@import "tailwindcss";

:root {
  /* LIGHT MODE */
  --scroll-track: #e5e7eb;
  /* gray-200 */
  --scroll-border: #d1d5db;

  --scroll-grad-1: #38bdf8;
  /* sky-400 */
  --scroll-grad-2: #6366f1;
  /* indigo-500 */
  --scroll-grad-3: #a855f7;
  /* purple-500 */

  --scroll-glow-1: rgba(56, 189, 248, 0.5);
  --scroll-glow-2: rgba(168, 85, 247, 0.4);
}

.dark {
  /* DARK MODE */
  --scroll-track: #020617;
  /* slate-950 */
  --scroll-border: #0f172a;

  --scroll-grad-1: #22d3ee;
  /* cyan-400 */
  --scroll-grad-2: #3b82f6;
  /* blue-500 */
  --scroll-grad-3: #9333ea;
  /* purple-600 */

  --scroll-glow-1: rgba(34, 211, 238, 0.8);
  --scroll-glow-2: rgba(147, 51, 234, 0.6);
}


@keyframes pulse-slow {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 1s step-end infinite;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out;
}

@keyframes grid-move {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(50px, 50px);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Courier New", monospace;
}

/* Scrollbar Styles */
.tech-scroll::-webkit-scrollbar {
  width: 10px;
}

.tech-scroll::-webkit-scrollbar-track {
  background: var(--scroll-track);
  border-left: 1px solid var(--scroll-border);
}

.tech-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg,
      var(--scroll-grad-1),
      var(--scroll-grad-2),
      var(--scroll-grad-3));
  border-radius: 9999px;
  box-shadow:
    0 0 10px var(--scroll-glow-1),
    0 0 22px var(--scroll-glow-2);
}

.tech-scroll::-webkit-scrollbar-thumb:hover {
  box-shadow:
    0 0 16px var(--scroll-glow-1),
    0 0 32px var(--scroll-glow-2);
}